@charset "utf-8";
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  letter-spacing: -1px;
}

.Gnbcontainer {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.Gnbcontainer.on {
  background-color: white;
  transition: 0.5s;
  -webkit-box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.05);
}
.Gnbcontainer .gnb {
  width: 1400px;
  height: 80px;
  margin: 0px auto;
}
.Gnbcontainer ul {
  display: flex;
  transition: 0.5s;
  align-items: center;
  color: white;
  width: 1400px;
  height: 80px;
}
.Gnbcontainer ul li {
}
.Gnbcontainer ul li a {
  display: block;
  color: white;
  margin-right: 4vw;
  text-align: center;
}
.Gnbcontainer ul li a:hover {
  transform: translateY(-3px);
}
/*배너*/
.mainbanner {
  width: 100%;
  height: 100vh;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
}
.bgcimg {
  background: url(../images/img2.png) no-repeat 50% / cover;
  filter: blur(6px);
  position: absolute;
  z-index: -999;
  width: 100%;
  text-indent: -9999px;
  height: 100vh;
}
.blackbox {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: -99;
  width: 100%;
  height: 100vh;
  text-indent: -9999px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1400px;
  margin: 10vh auto;
  position: relative;
  flex-wrap: wrap;
}
.container .textbox {
  margin-right: 4vw;
  margin-top: 60px;
}

.container .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.container .tagbox {
  display: flex;
  margin-bottom: 24px;
}
.container .tagbox li {
  border: 1px solid #fff;
  padding: 5px 15px;
  margin-right: 15px;
}
.container h1 {
  font-size: 40px;
  font-weight: bold;
}
.container .word {
  font-size: 20px;
  margin-top: 50px;
  line-height: 1.6;
}
.imgbox {
  background: url(../images/img2.png) no-repeat 50% / cover;
  width: 50%;
  height: 500px;
  align-items: center;
  text-indent: -9999px;
  margin-bottom: 50px;
}
.container .subtitle {
  font-size: 20px;
  font-weight: 200;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.btnbox {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: -10vh;
  font-size: 30px;
}
.btnbox a {
  color: #999;
}
.btnbox a:hover {
  color: white;
}

/* project */
main {
  width: 100%;
  height: 400vh;
}
/* 01 */
.list {
  display: flex;
  justify-content: center;
  margin-top: 185px;
}
.numbox {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 5vw;
}
.numbox p {
  width: 75px;
  height: 30px;
  border: 1px solid #000;
  display: grid;
  place-content: center;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
}
.numbox h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.bluebold_first {
  font-weight: 700;
  color: #1c3e84;
  margin-top: 60px;
}
.bluebold {
  font-weight: 700;
  margin-top: 80px;
  color: #1c3e84;
}
.dumtxt {
  width: 46%;
}
.dumtxt h3 {
  margin-bottom: 3vh;
  font-size: 28px;
}
.dumtxt ul {
}
.dumtxt ul li {
  list-style: disc;
  font-size: 20px;
  font-size: 20px;
  padding: 20px 0;
  line-height: 1.6;
}
.dumtxt ul li h2 {
  margin-bottom: 2vh;
  font-size: 22px;
  font-weight: bold;
}
.dumtxt p {
  font-size: 20px;
  line-height: 1.5;
}

/* 02 */
.dumitxt02 {
  width: 46%;
  position: relative;
}
.longline {
  width: 2px;
  height: 620px;
  background-color: black;
  position: absolute;
  left: 3px;
  top: 48px;
  transition: 0.5s;
}
.dumitxt02 h3 {
  font-size: 28px;
  margin-bottom: 3vh;
}
.dumitxt02 li {
  /* list-style: disc; */
  font-size: 24px;
  margin-top: 20px;
  /* margin-left: 20px; */
  padding: 10px 0px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
/* .dumitxt02 li::before{
  content: "";
  width: 8px; height: 8px; background-color: black; display: inline-block; border-radius: 5px; margin-right: 20px;
  margin-bottom: 4px;
} */
/* .dumitxt02 li p {
  
 display: none; 
  transition: 0.5s;
  height: 0px;
  width: 100%;
  overflow: hidden;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 400;
} */
/* .dumitxt02 li:hover p {
  opacity: 1;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
} */
/*KEYWORD*/
.dumitxt02 .keyword {
  display: flex;
  font-size: 28px;
  font-weight: 700;
}
.dumitxt02 .keyword p {
  margin-right: 100px;
}
/* Color */
.cb {
  display: flex;
}
.dumitxt02 .colorbox1 {
  display: flex;
  width: 180px;
  height: 100px;
  background-color: #fdc10b;
  margin-right: 15px;
  text-indent: -9999px;
}
.dumitxt02 .colorbox2 {
  display: flex;
  width: 180px;
  height: 100px;
  background-color: #e02421;
  margin-right: 15px;
  text-indent: -9999px;
}
.dumitxt02 .colorbox3 {
  display: flex;
  width: 180px;
  height: 100px;
  background-color: #092e92;
  margin-right: 15px;
  text-indent: -9999px;
}
.dumitxt02 .colorbox4 {
  display: flex;
  width: 180px;
  height: 100px;
  background-color: #820808;
  margin-right: 15px;
  text-indent: -9999px;
}
.dumitxt02 .cb p {
  display: flex;
  align-items: flex-end;
  margin-right: 40px;
  line-height: 1.6;
}
/*fonts*/
.dumitxt02 .fonts {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.dumitxt02 .fonts .noto {
  font-size: 24px;
  margin-right: 5vw;
  font-family: "Noto Sans Kr", sans-serif;
}
.dumitxt02 .fonts .notoweight p {
  font-family: "Noto Sans Kr", sans-serif;
}
.dumitxt02 .fonts .notoweight p:nth-child(1) {
  font-weight: bold;
}
.dumitxt02 .fonts .notoweight p:nth-child(2) {
  font-weight: 400;
  margin: 20px 0px;
}
.dumitxt02 .fonts .notoweight p:nth-child(3) {
  font-weight: 200;
}
.dumitxt02 .fonts .eng {
  font-size: 24px;
  margin-right: 5vw;
  font-family: "ivypresto-display", serif;
}
.dumitxt02 .fonts .eng span {
  font-size: 24px;
  color: black;
  display: block;
  margin-top: 16px;
  font-family: "Palatino Linotype W02", serif;
}
.ivyweight span {
  margin-top: 30px;
  display: block;
  color: black;
}
/*Problem&Soulution*/
.dumitxt02 .PS_T {
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0px;
}
.dumitxt02 .PS p {
  font-size: 20px;
  margin-left: 23px;
  line-height: 1.6;
  padding: 0px 0px 20px 0;
}

/*publishing*/

.list .hashtag {
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
}
.dumtxt #publist li {
  list-style: disc;
  margin-left: 20px;
  font-size: 22px;
  margin-bottom: 40px;
}
.dumtxt #publist li:nth-child(1) {
  margin-top: 60px;
}
span {
  font-weight: 700;
  color: #1c3e84;
}
/*publishing problem*/
.dumtxt #PPS li {
  margin-top: 55px;
  font-size: 24px;
  font-weight: bold;
  list-style: disc;
  /* margin-left: 20px; */
}
.dumtxt #PPS p {
  /* margin-left: 23px; */
  margin-top: 20px;
  margin-bottom: 40px;
}

/*view*/
.view {
  margin: 0px auto;
  margin-top: 200px;
  width: 800px;
  height: 80px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 80px;
}
.view a {
  color: black;
  display: block;
  width: 300px;
  height: 80px;
  transition: 0.5s;
  border: 1px solid black;
}
.view a:hover {
  background-color: black;
  color: white;
}
.view ul {
  display: flex;
  justify-content: space-between;
}

.lastbtn {
  display: flex;
  justify-content: space-between;
}
.lastbtn a {
  color: #999;
  font-size: 30px;
  font-weight: 200;
}
.lastbtn a:hover {
  color: black;
}
.lastbtn .backbtn,
.lastbtn .nextbtn {
  margin: 100px 10vw;
}

.dumtxt #PPS_2 > li > ul li {
  margin-top: 20px;
  font-size: 20px;
  font-weight: normal;
  list-style: disc;

  padding: 10px 0px;
}
.dumtxt #PPS_2 > li {
  list-style: none;
  margin-top: 50px;
}
.dumtxt #PPS_2 h3 {
  margin-top: 0;
}

#PPS_3 p {
  /* margin-top: 10px; */
  margin-bottom: 40px;
}
#PPS_3 li {
  font-weight: bold;
  font-size: 24px;
  margin-top: 50px;
}
#PPS_3 li > p {
  font-size: 20px;
}

.showimg {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #092e92;
  background: url(../images/subimg1.png) no-repeat 50% / cover;
}

.video {
  width: 100%;
  height: 100vh;
  position: relative;
}
.video h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-top: 185px;
}
.video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px auto;
  width: 350px;
  height: 750px;
  /* margin-top: 200px; */
  overflow: hidden;
}
.viewimg {
  width: 100%;
  height: 100vh;
  background: url(../images/subimg2.png) no-repeat 50% / cover;
  background-color: #092e92;
  position: relative;
}
.viewimg h2 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-top: 30px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 플러그인 */
.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: "mobile";
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
/* .cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
   these are used to create a shadow effect at the sides of the timeline 
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
} */
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient(
    left,
    #f8f8f8,
    rgba(248, 248, 248, 0)
  );
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient(
    right,
    #f8f8f8,
    rgba(248, 248, 248, 0)
  );
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #1c3e84;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 18px;
  padding-bottom: 10px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: "";
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #1c3e84;
  border-color: #1c3e84;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #1c3e84;
  border-color: #1c3e84;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: #1c3e84;
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: "desktop";
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../images/arrow_forward_ios_FILL0_wght400_GRAD0_opsz48.svg)
    no-repeat 50% / cover;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #1c3e84;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 0px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
  font-weight: bold;
  font-size: 2.6rem;
  /* font-family: "Playfair Display", serif; */
  font-weight: 700;
  line-height: 1.2;
}
.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
  font-weight: bold;
}
.cd-horizontal-timeline .events-content em::before {
  content: "- ";
}
.cd-horizontal-timeline .events-content p {
  font-size: 1.4rem;
  color: #000;
}
.cd-horizontal-timeline .events-content em,
.cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 3rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 1.4rem;
  }
  .cd-horizontal-timeline .events-content p {
    margin-top: 30px;
    font-size: 1.2rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.listbox {
  margin-bottom: 235px;
}
.videobox {
  width: 344px;
  height: 740px;
  background-color: #999;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
